.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/webds.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
<<<<<<< Updated upstream
        z-index: 2;
=======
        z-index: 2;  
>>>>>>> Stashed changes
        @include before_circle;

    }
    &__btns {
        display: flex;
        margin-top: 25px;
        width: 250px;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 21px;
    }
    &__link {
        color: #000000;
        &:hover{
            color:#000000;
            // text-decoration: none;
        }
        font-weight: bold;
        
    }
}